* {
    padding: 0;
    margin: 0;
}

#box-time {
    width: 80%;
    /* height: 100%; */
    margin: 15% auto;
    text-align: center;
    /* border: 1px solid dodgerblue; */
}

#show-time {
    font-size: 140px;
    line-height: 280px;
    color: rgb(35, 149, 224);
    /* color: rgb(219, 77, 77); */
}